---
http_interactions:
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01GDDKASAP8TKDDA2GRZDSVP4H/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01GDDKASAP8TKDDA2GRZDSVP4H","attributes":{"properties":{}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key test_key
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Www-Authenticate:
      - Bearer, Klaviyo-API-Key
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"3b7d87b3-ca52-453d-b28d-879e66023d0c","status":401,"code":"not_authenticated","title":"Authentication
        credentials were not provided.","detail":"Missing or invalid private key.","source":{"pointer":"/data/"}}]}'
  recorded_at: Fri, 12 Apr 2024 02:22:01 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"email":"jdoe@example.com","first_name":"John","last_name":"Doe","properties":{}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"profile","id":"01HV843Q3V378V3XA32BAVCMNE","attributes":{"email":"jdoe@example.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":"John","last_name":"Doe","organization":null,"title":null,"image":null,"created":null,"updated":null,"last_event_date":null,"location":{"longitude":null,"latitude":null,"address2":null,"zip":null,"region":null,"address1":null,"country":null,"city":null,"timezone":null,"ip":null},"properties":{}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/segments/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HV843Q3V378V3XA32BAVCMNE/"}}}'
  recorded_at: Fri, 12 Apr 2024 03:02:41 GMT
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?filter=any(email,%5B%27jdoe@example.com%27%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, P[...]
[...]
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01GDDKASAP8TKDDA2GRZDSVP4H/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01GDDKASAP8TKDDA2GRZDSVP4H","attributes":{"properties":{"newKey":"value"}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"3d937f09-9654-4531-8697-ac783f657354","status":404,"code":"not_found","title":"Not
        found.","detail":"A profile with id 01GDDKASAP8TKDDA2GRZDSVP4H does not exist.","source":{"pointer":"/data/"}}]}'
  recorded_at: Fri, 12 Apr 2024 03:05:27 GMT
- request:
    method: patch
    uri: https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01HV2Q5N708912T7NDCJ6C2TX8","attributes":{"properties":{"newKey":"value"}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"profile","id":"01HV2Q5N708912T7NDCJ6C2TX8","attributes":{"email":"klaviyo@test.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":null,"last_name":null,"organization":null,"title":null,"image":null,"created":"2024-04-10T00:40:21+00:00","updated":"2024-04-11T23:51:56+00:00","last_event_date":"2024-04-11T23:51:56+00:00","location":{"country":null,"zip":null,"address2":null,"city":null,"address1":null,"region":null,"latitude":null,"longitude":null,"timezone":null,"ip":null},"properties":{"Email":"klaviyo@test.com","$source":-9,"$consent":["email"],"$consent_timestamp":"2024-04-11T23:51:55.901Z","All
        Access Subscribed":"true","All Access Cancelling":"false","All Access Cancelled":"false","Stream
        Subscription Subscribed":"false","Stream Subscription Cancelling":"false","Stream
        Subscription Cancelled":"false","Flex Chorus Licence Type":"perpetual","test":true,"newKey":"value","newKey2":"value2"}},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/segments/"}},"conversation":{"links":{"self":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/relationships/conversation/","related":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/conversation/"}}},"links":{"self":"https://a.klaviyo.com/api/profiles/01HV2Q5N708912T7NDCJ6C2TX8/"}}}'
  recorded_at: Fri, 12 Apr 2024 03:06:16 GMT
[...]
