---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/dummyListId/subscribe
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","token":"publicKey","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Upstream:
      - Sync-Api
      - Sync-Api
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Wed, 22 Jul 2020 13:40:48 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/wrongListId/subscribe
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","token":"publicKey","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n\n<title>Oops (Error 404) - Klaviyo</title>\n<link
        rel=\"shortcut icon\" href=\"/media/Favicon-16by16.png\" />\n<style type=\"text/css\">\n
        \ body {\n    font-family: 'Lucida Grande', sans-serif;\n    line-height:
        18pt;\n  }\n\n  h1 {\n    color: #7895a3;\n    font-size: 32pt;\n    font-weight:
        bold;\n    line-height: 34pt;\n  }\n\n  h2 {\n    font-size: 30px;\n    line-height:
        1.4;\n  }\n\n  h3 {\n    color: #555;\n    font-size: 20px;\n    line-height:
        1.4;\n    font-weight: normal;\n  }\n\n  #main {\n     margin: 4em 10em 3em
        3em;\n  }\n\n  .bear {\n    position[...]
- request:
    method: post
    uri: https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile-subscription-bulk-create-job","attributes":{"profiles":{"data":[{"type":"profile","attributes":{"email":"jdoe@example.com","subscriptions":{"email":{"marketing":{"consent":"SUBSCRIBED"}}}}}]}},"relationships":{"list":{"data":{"type":"list","id":"TT5hj2"}}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '74'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"87cf418b-4eed-421f-a129-e41adfb6542e","status":400,"code":"invalid","title":"Invalid
        input.","detail":"List not found with id TT5hj2.","source":{"pointer":"/data"},"meta":{}}]}'
  recorded_at: Fri, 12 Apr 2024 03:29:00 GMT
recorded_with: VCR 6.2.0
