---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/dummyListId/subscribe
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","token":"publicKey","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Upstream:
      - Sync-Api
      - Sync-Api
      retry-after:
      - 60
    body:
      encoding: ASCII-8BIT
      string: '{"detail":""}'
  recorded_at: Fri, 13 Nov 2020 11:01:00 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile-subscription-bulk-create-job","attributes":{"profiles":{"data":[{"type":"profile","attributes":{"email":"jdoe@example.com","subscriptions":{"email":{"marketing":{"consent":"SUBSCRIBED"}}}}}]}},"relationships":{"list":{"data":{"type":"list","id":"TT5hjk"}}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 202
      message: ''
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '73'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 12 Apr 2024 03:29:00 GMT
recorded_with: VCR 6.2.0
