---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/track
    body:
      encoding: UTF-8
      string: data=%7B%3Atoken%3D%3E%22test_public_key%22%2C%20%3Aevent%3D%3E%22Started%20Checkout%22%2C%20%3Acustomer_properties%3D%3E%7B%22%24email%22%3D%3E%22jdoe%40example.com%22%7D%2C%20%3Aproperties%3D%3E%7B%22foo%22%3D%3E%22bar%22%7D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '0'
  recorded_at: Wed, 20 Jul 2022 19:40:59 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/events/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"event","attributes":{"properties":{"foo":"bar","name":"Started
        Checkout"},"metric":{"data":{"type":"metric","attributes":{"name":"Started
        Checkout"}}},"profile":{"data":{"type":"profile","attributes":{"email":"jdoe@example.com"}}}}}}'
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 202
      message: ''
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 350, 350;w=1, 3500;w=60
      Ratelimit-Remaining:
      - '349'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 12 Apr 2024 03:36:14 GMT
recorded_with: VCR 6.2.0
