---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/dummyListId/members
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","token":"publicKey","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Upstream:
      - Sync-Api
      - Sync-Api
      retry-after:
      - 60
    body:
      encoding: ASCII-8BIT
      string: '{"detail":""}'
  recorded_at: Thu, 24 Dec 2020 22:39:22 GMT
- request:
    method: get
    uri: https://a.klaviyo.com/api/profiles/?filter=any(email,%5B%27TT5hjk%27%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Revision:
      - '2024-02-15'
      Authorization:
      - Klaviyo-API-Key pk_969f31237a8adf114b9a6c3197422c6cea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Cid:
      - ULsCv3
      Ratelimit-Limit:
      - 75, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '73'
      Ratelimit-Reset:
      - '0'
      X-Klaviyo-Api-Revision:
      - '2024-02-15'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"self":"https://a.klaviyo.com/api/profiles/?filter=any%28email%2C%5B%27TT5hjk%27%5D%29","next":null,"prev":null}}'
  recorded_at: Fri, 12 Apr 2024 03:29:00 GMT
recorded_with: VCR 6.2.0
